<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <a class="navbar-brand" href="./restaurants/new">
      新增餐廳資訊
    </a>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">
        {{#each restaurants}}
        <div class="col">
          <a href="/restaurants/{{this.id}}" class="text-secondary">
            <div class="card mb-4">
              <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
              <div class="card-body p-3">
                <h6 class="card-title mb-1">{{this.name}}</h6>
          
                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{this.category}}
                </div>
          
                <span class=" rounded-pill text-bg-danger">
                  <i class="fas fa-star fa-xs"> {{this.rating}} </i>
                </span>
              </div>
              <div class="card-footer d-flex justify-content-end align-items-center">
                <a href="#" class="card-link btn-outline-success">Edit</a>
                <a href="#" class="card-link btn-outline-success">Detail</a>
                <form action="#" method="POST" style="display: inline" class="ms-3 ">
                  <button class="btn btn-outline-warning" type="submit">Delete</button>
                </form>
              </div>
            </div>
          </a>
        </div>
        {{/each}}
      </div>
